html {
    --main-color: #333333;
    --secondary-color: #fa694e;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Work Sans";
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.specialHeading {
    font-size: 60px;
    font-weight: 900;
    color: #c5c5c5;
    letter-spacing: -1px;
}

/* Start Header */

#header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container img {
    width: 60px;
}

#header .iconDiv {
    width: 50px;
    direction: rtl;
}

#header .menuLine {
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

#header #centerLine {
    width: 50%;
    transition: 0.3s;
}

#header .menuDiv:hover #centerLine {
    width: 100%;
}


#header .container .menuDiv {
    position: relative;
}

#header .container .menuDiv ul {
    width: 200px;
    background-color: white;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 10px gray;
    position: absolute;
    right: -15px;
    top: 30px;
    display: none;
}

#header .container .menuDiv ul .divider {
    height: 1px;
    background-color: #bab6b6;
}

#header .container .menuDiv ul li {
    text-align: center;
    padding: 10px 35px;
    color: var(--main-color);
    transition: 0.3s;
}

#header .container .menuDiv ul::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -20px;
    right: 25px;
}

#header .menuDiv:hover ul {
    display: block;
}

#header .container .menuDiv ul li:hover {
    padding-left: 45px;
}

/* End Header */

/* Start Landing */

#landingDiv {
    background-image: url("images/coding.jpg");
    background-size: cover;
    position: relative;
}

#landingDiv .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#landingDiv .container .centerDiv h1 {
    font-size: 80px;
    color: white;
}

#landingDiv .container .centerDiv p {
    font-size: 35px;
    color: white;
    margin: 40px 0;
}

#landingDiv .container .centerDiv button {
    padding: 20px 40px;
    font-size: 25px;
    font-weight: 900;
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

#landingDiv .container .centerDiv button:hover {
    cursor: pointer;
    background-color: #ba4e3a;
}

#landingDiv .container .centerDiv {
    text-align: center;
    position: relative;
}

#landingDiv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.4;
}

/* End Landing */

/* Start Service */

#servicesDiv {
    padding: 100px 0;
}

#servicesDiv .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#servicesDiv .container .service {
   width: 300px;
   text-align: center;
   margin: 10px;
}

#servicesDiv .container .service i {
    font-size: 60px;
    color: var(--secondary-color);
}

#servicesDiv .container .service h3 {
    font-size: 35px;
    margin: 20px 0;
}

#servicesDiv .container .service p {
    font-size: 25px;
    color: #777;
}

@media (max-width: 680px) {
    #servicesDiv .container .service {
        margin-bottom: 50px;
    }
}

/* End Services */

/* Start Stories */

#storiesDiv {
    padding: 100px 0;
    background-color: #f6f6f6;
}

#storiesDiv .container {
    text-align: center;
}

#storiesDiv .container > p {
    font-size: 30px;
    margin: 40px 0;
}

#storiesDiv .contents {
    display: flex;
}

#storiesDiv .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#storiesDiv .cards .card {
    width: 230px;
    box-shadow: 0 0 10px #a5a2a2;
    margin: 20px;
    border-radius: 20px;
}

#storiesDiv .cards .card .cardImg {
    background-color: #ddd; 
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

#storiesDiv .cards .card .cardDetails {
    padding: 20px;
}

#storiesDiv .cards .card .cardDetails h3 {
    color: var(--main-color);
}

#storiesDiv .cards .card .cardDetails p {
    margin: 10px 0;
    color: #777;
}

#storiesDiv .cards .card .cardImg img {
    width: 50%;
}


#storiesDiv .imgDiv img {
    width: 300px;
    position: relative;
}

#storiesDiv .imgDiv {
    position: relative;
    display: flex;
    align-items: center;
}

#storiesDiv .imgDiv::before {
    content: "";
    width: 100px;
    height: 80%;
    background-color: #c5c5c5;
    position: absolute;
    right: 30px;
    top: 10%;
}

@media (max-width: 1199px) {
    #storiesDiv .imgDiv {
        display: none;
    }
}

@media (max-width: 579px) {
    #storiesDiv .cards .card {
        width: 300px;
    }
}

@media (max-width: 500px) {
    #storiesDiv .container > p {
        font-size: 25px;
    }
}

/* End Stories */